<mat-card style="text-align: center">
  <mat-card-title class="cy-card-title">Currency Converter</mat-card-title>
  <mat-card-subtitle class="cy-card-subtitle"
    >Welcome to a simple currency converter.</mat-card-subtitle
  >
  <mat-card-content>
    <form class="form-container">
      <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input
          matInput
          [formControl]="amountControl"
          type="number"
          min="0"
          class="cy-amount-input"
        />
        <mat-error
          *ngIf="!amountControl.valid && amountControl.touched"
          class="cy-amount-input-error"
        >
          {{ getAmountErrorMsg() }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>From</mat-label>
        <input
          type="text"
          placeholder="Pick one"
          aria-label=""
          matInput
          [formControl]="convertFromControl"
          [matAutocomplete]="convertFrom"
          class="cy-convert-from-dropdown"
        />
        <mat-autocomplete
          (optionSelected)="selectionChanged()"
          #convertFrom="matAutocomplete"
          [autoActiveFirstOption]="true"
        >
          <mat-option
            *ngFor="let option of fromOptions | async"
            [value]="option.id"
          >
            {{ option.id }} - {{ option.currencyName }}
          </mat-option>
        </mat-autocomplete>
        <mat-error
          *ngIf="convertFromControl.hasError('invalidCurrency')"
          class="cy-currency-from-error"
        >
          Invalid Currency
        </mat-error>
      </mat-form-field>
      <div>
        <button
          type="button"
          mat-fab
          aria-label=""
          (click)="swapSelection()"
          class="cy-swap-button"
        >
          <mat-icon>swap_horiz</mat-icon>
        </button>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>To</mat-label>
        <input
          type="text"
          placeholder="Pick one"
          aria-label=""
          matInput
          [formControl]="convertToControl"
          [matAutocomplete]="convertTo"
          class="cy-convert-to-dropdown"
        />
        <mat-autocomplete
          (optionSelected)="selectionChanged()"
          #convertTo="matAutocomplete"
          [autoActiveFirstOption]="true"
        >
          <mat-option
            *ngFor="let option of toOptions | async"
            [value]="option.id"
          >
            {{ option.id }} - {{ option.currencyName }}
          </mat-option>
        </mat-autocomplete>
        <mat-error
          *ngIf="convertToControl.hasError('invalidCurrency')"
          class="cy-currency-to-error"
        >
          Invalid Currency
        </mat-error>
      </mat-form-field>
    </form>

    <div *ngIf="convertionRate && amountControl.valid; else spinner">
      <div>
        <h5 class="cy-result-from">
          {{ amountToConvert | number: "1.2-2" }}
          {{ convertionRate.currency }} =
        </h5>
      </div>
      <div>
        <h2 class="cy-result-to">
          {{ convertedAmout | number: "1.2-2" }} {{ convertionRate.to }}
        </h2>
      </div>
    </div>

    <ng-template #spinner>
      <div *ngIf="loading" class="center-content">
        <mat-spinner [diameter]="50"></mat-spinner>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
